#
# Documentation is here: http://git-scm.com/docs/gitignore
#
configuration.php
idMyGadget
resume

administrator/components/com_groja
administrator/components/com_joomoocomments
administrator/components/com_joomoogallery
administrator/components/com_joomoorating
administrator/components/com_joomoositestyle
administrator/components/com_joomoouser

components/com_groja
components/com_joomoobase
components/com_joomoocomments
components/com_joomoogallery
components/com_joomoorating
components/com_joomoositestyle
components/com_joomoouser

language/en-GB/en-GB.mod_joomoouser_login.ini
language/en-GB/en-GB.mod_joomoouser_login.sys.ini

modules/mod_joomoositestyle
modules/mod_joomoouser_login

templates/joomoositestyle

/cache/
/logs/
/nbproject/
*.swp
/tmp/

