#
# Documentation is here: http://git-scm.com/docs/gitignore
#
nbproject/
*.swp
tmp/

gitignored/

customizations/google_adsense_script
customizations/groja-joomla
customizations/images
customizations/joomoobase
customizations/joomoocomments
customizations/joomoogallery
customizations/joomoorating
customizations/joomoositestyle
customizations/joomoouser


Site/configuration.php
Site/idMyGadget
Site/resume

Site/administrator/components/com_groja
Site/administrator/components/com_joomoocomments
Site/administrator/components/com_joomoogallery
Site/administrator/components/com_joomoorating
Site/administrator/components/com_joomoositestyle
Site/administrator/components/com_joomoouser

Site/components/com_groja
Site/components/com_joomoobase
Site/components/com_joomoocomments
Site/components/com_joomoogallery
Site/components/com_joomoorating
Site/components/com_joomoositestyle
Site/components/com_joomoouser

Site/language/en-GB/en-GB.mod_joomoouser_login.ini
Site/language/en-GB/en-GB.mod_joomoouser_login.sys.ini

Site/modules/mod_joomoositestyle
Site/modules/mod_joomoouser_login

Site/templates/joomoositestyle

Site/cache/
Site/logs/
